@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 600px), (max-width: 1220px) {
  body {
    padding: 20px 15px !important;
  }
  .standard-width {
    flex-direction: column;
  }
  .profile {
    width: 100%;
    max-width: 100% !important;
    margin-bottom: 20px;
  }
  .profile img {
    margin: 0 auto 20px auto;
    display: block;
  }
  .profile h1 {
    text-align: center;
    font-size: 23px;
  }
  .profile h1::before {
    width: 50%;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
  }
  .profile .lost {
    justify-content: center;
  }
  .repositories {
    padding: 1rem !important;
    margin-left: 0 !important;
  }
  .repositories .repositories-informations {
    padding: 20px 0 0 15px !important;
  }
  .repositories .repositories-informations h1 {
    font-size: 25px !important;
  }
  .repositories .repositories-informations h1:before {
    display: none;
  }
  .repositories .repositories-informations p {
    display: block !important;
  }
}

body {
  background: linear-gradient(10deg, #23272a, #000000);
  background-repeat: no-repeat;
  min-height: 100vh;
}

.standard-width {
  max-width: 1200px;
  margin: 0 auto;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  background: #ffffff;
  border-radius: 10px;
  max-width: 350px;
  min-height: 40vh;
  padding: 2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  float: left;
}

.profile img {
  border-radius: 25%;
  text-align: center;
  width: 120px;
  height: 120px;
}

.profile h1 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 1rem;
  position: relative;
}

.profile h1::before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  border-radius: 8px;
  background: linear-gradient(45deg, #272727, #0c0c0c);
}

.profile .lost {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.profile .lost:last-child {
  margin-bottom: 0;
}

.profile .lost .icon {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile .lost .icon mdi {
  font-size: 20px;
}

.profile .description {
  padding-top: 1rem;
  font-weight: 300;
  color: #9e9e9e;
  text-align: justify;
}

.profile .social {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile .social li {
  margin-right: 10px;
  display: flex;
}

.profile .social li:last-child {
  margin-right: 0;
}

.profile .social li a {
  width: 60px;
  height: 60px;
  color: #333;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.profile .social li a:hover {
  color: #272727;
  background-color: rgba(193, 56, 242, 0.09);
  transform: scale(1.3);
}

.repositories {
  max-width: 300vw;
  min-height: 40vh;
  margin-left: 25px;
  padding: 2rem;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.repositories .repositories-informations {
  margin-bottom: 20px;
}

.repositories .repositories-informations h1 {
  display: inline;
  vertical-align: middle;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 1rem;
  position: relative;
}

/*.repositories .repositories-informations h1::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 38px;
    bottom: 2px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #f45757, #c138f2);
}*/

.repositories .repositories-informations p {
  display: inline;
  vertical-align: middle;
}

.repositories .repositories-list-container {
  flex-wrap: wrap;
  display: flex;
}

.repositories .repositories-list-container .repository-item-container {
  max-width: 100%;
  margin-bottom: 20px;
  padding: 0 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 1 1 50%;
}

.repositories
  .repositories-list-container
  .repository-item-container
  #repository-item-card {
  padding: 2rem;
  color: unset;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease-in-out;
}

.repositories
  .repositories-list-container
  .repository-item-container
  #repository-item-card
  h1 {
  margin-bottom: 1rem;
  position: relative;
  font-weight: 600;
  font-size: 30px;
  display: inline;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
  text-transform: lowercase;
}

.repositories
  .repositories-list-container
  .repository-item-container
  #repository-item-card
  p {
  margin-top: 10px;
  font-size: 14px;
  text-align: justify;
}

.repositories
  .repositories-list-container
  .repository-item-container
  #repository-item-card:hover {
  transform: scale(1.05);
}

.repositories
  .repositories-list-container
  .repository-item-container
  #repository-item-card:hover
  h1 {
  background: -webkit-linear-gradient(#272727, #0c0c0c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  vertical-align: middle;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 1rem;
  position: relative;
}
